* {
    text-align: center;
    font-size: 25px;
}

.skai-container {
    margin: auto;
    margin-right: 0;
}

.request-group {
    border-top: 1px solid purple;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* line-height: 30px; */
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.header {
    font-size: 30px;
    border-bottom: 1px dashed purple;
    /* padding: 10px; */
}

button {
    background: white;
    border: none;
}