<div>
    <div class="skai-container request" *ngFor="let request of requests">
        ({{ request.status }}) User {{ request.user.username }} requested to join trip:
        <br> 
        <button class="btn trip-link">{{ request.trip.startingLocation }} -> {{ request.trip.destination }}</button>
        <br>
        ({{ request.trip.remainingSeats }} seats left)
        <button *ngIf="request.status != 'ACCEPTED'" class="btn accept" (click)="acceptRequest(request.user.id, request.trip.id)">
            <i class="material-icons accept">check</i>
        </button>
        <button *ngIf="request.status != 'DECLINED'" class="btn decline" (click)="declineRequest(request.user.id, request.trip.id)">
            <i class="material-icons decline">clear</i>
        </button>
    </div>
</div>