<div class="login-clean">
    <!-- <div> -->
        <form (ngSubmit)="handleLogin()">
            <div class="illustration"><img src="assets/skai.png" alt="Skai Logo"></div>
            <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" [(ngModel)]="username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="form-group">
                <button (click)="register()" class="btn btn-primary btn-block">Register</button>
            </div>
        </form>
    <!-- </div> -->
</div>