<header>
    <nav class="navbar navbar-expand-md">
        <div>
            <a href="https://www.skainet.com">SkaiNET</a>
        </div>

        <ul class="navbar-nav">
            <li><a href="/welcome/victor" class="nav-link"></a>Home</li>
            <li><a href="/trips" class="nav-link"></a>Trips</li>
        </ul>

        <ul class="navbar-nav">
            <li><a href="/login" class="nav-link"></a>Login</li>
            <li><a href="/logout" class="nav-link"></a>Logout</li>
        </ul>
    </nav>
</header>
