nav {
    background-color: rgb(255, 255, 255);
    /* border-color: grey; */
    /* border-bottom-color: indigo; */
    border-radius: 10px;
    border: 1px solid indigo;
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 25%;
    margin-right: 25%;
}

a {
    font-size: larger;
}