#trip-driver {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: auto;
    max-width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid white;
    display: block;
    padding: 10px;
    border-radius: 30px;
}

.editable-div {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
