<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
    <!-- <dropdown -->
    <div id="toolbar">
        <button (click)="addTrip()" class="btn add-trip">
            <i class="material-icons">add</i>
        </button>
        <button class="btn add-trip">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <button class="btn add-trip">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </div>

    <div class="trip-list">
        <button *ngFor="let trip of trips" class="skai-container trip" (click)="viewTrip(trip.id)">
            <div class="trip date">
                {{trip.date | date}}
            </div>
            <div>
                Driven by: {{trip.driver.username}}
            </div>
                Remaining seats: {{trip.maxPassengers}}
            <br>
                From: {{trip.location}}
            <br>
                To: Placeholder
            <!-- <br> -->
            <!-- <button (click)="viewTrip(trip.id)" class="btn view-trip-button">View</button> -->
        </button>
    </div>
    <!-- <table class="table">
        <caption>Trips</caption>
        <thead id="table-head">
            <tr>
                <th>date</th>
                <th>passengers</th>
                <th>location</th>
                <th>comment</th>
                <th>To Skai</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr *ngFor="let trip of trips">
                <td>{{trip.date | date}}</td>
                <td>{{trip.maxPassengers}}</td>
                <td>{{trip.location}}</td>
                <td>{{trip.comment}}</td>
                <td>{{trip.go}}</td>
                <td><button (click)="viewTrip(trip.id)" class="btn view-trip-button">View</button></td>
            </tr>
        </tbody>

    </table> -->
</div>
