<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
    <!-- <dropdown -->
    <button (click)="addTrip()" class="btn add-trip">Add a trip</button>

    <div class="trip-list">
        <div *ngFor="let trip of trips" class="skai-container trip">
            <div class="trip date">
                {{trip.date | date}}
            </div>
            <div>
                Driven by: {{trip.driver.username}}
            </div>
            {{trip.maxPassengers}}
            <br>
            {{trip.location}}
            <br>
            {{trip.comment}}
            <br>
            {{trip.go}}
            <br>
            <button (click)="viewTrip(trip.id)" class="btn view-trip-button">View</button>
        </div>
    </div>
    <!-- <table class="table">
        <caption>Trips</caption>
        <thead id="table-head">
            <tr>
                <th>date</th>
                <th>passengers</th>
                <th>location</th>
                <th>comment</th>
                <th>To Skai</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr *ngFor="let trip of trips">
                <td>{{trip.date | date}}</td>
                <td>{{trip.maxPassengers}}</td>
                <td>{{trip.location}}</td>
                <td>{{trip.comment}}</td>
                <td>{{trip.go}}</td>
                <td><button (click)="viewTrip(trip.id)" class="btn view-trip-button">View</button></td>
            </tr>
        </tbody>

    </table> -->
</div>
