.skai-container {
    border-radius: 30px;
    border: 1px solid indigo;
    max-width: 60%;

    
}

#welcome-message {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#trip-link {
    margin: auto;
    margin-top: 40px;
    max-width: 30%;
    text-align: center;
    font-size: 40px;
    background-color: white;
}

a {
    /* background: linear-gradient(45deg, rgba(148,50,162,1) 0%, rgba(78,59,199,1) 50%, rgba(9,161,224,1) 100%);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: indigo
}

/* mouse over link */
a:hover {
    color: rgb(9, 109, 224);
    text-decoration-line: none;
}

label {
    color: indigo;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    /* background: linear-gradient(45deg, rgba(148,50,162,1) 0%, rgba(78,59,199,1) 50%, rgba(9,161,224,1) 100%);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
