.skai-container {
    border-radius: 10px;
    border: 2px solid indigo;
    max-width: 60%;
}

#welcome-message {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#trip-link {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    background-color: white;
}
  
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

text {
    background: linear-gradient(45deg, rgba(148,50,162,1) 0%, rgba(78,59,199,1) 50%, rgba(9,161,224,1) 100%);
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
