<div class="container">
    <div class="registration-form">
        <form (ngSubmit)="!registerForm.invalid && registerUser()" #registerForm="ngForm">
            <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="user.username" 
                name="username" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="user.password"
                name="password" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <!-- <div *ngIf="!form.valid"> -->
                    <!-- <label>Invalid!</label>
                </div> -->
                <input type="string" [(ngModel)]="user.firstName" id="firstname"
                name="firstname" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" [(ngModel)]="user.lastName"
                name="lastname" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label>Phone Number (optional)</label>
                <input type="text" [(ngModel)]="user.phoneNumber"
                name="phone_number" class="form-control">
            </div>
            <div class="form-group">
                <label>Usual Location (optional)</label>
                <input type="text" [(ngModel)]="user.usualLocation"
                name="usual_location" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </form>
    </div>
</div>